*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}
html, body{
    background-color: #05002e;
    height: 100%;
}
.content{
    position:absolute;
    left: 20%;
    width: 80%;
    height: 90%;
    overflow-y:auto;
    padding:0 3%;
}

.info{
    position: relative;
    top: 5%;
    text-align: center;
    color: wheat;
    
}

.img{
    top: 15%;
    left: 20%;
    margin: 0 auto;
    line-height: 0;
    position:relative;
}